* {
    box-sizing: border-box;
}

body {
    background-image: url('./bg.jpg');
    background-size: cover; /* Ensure the background image fits within the viewport */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    margin: 0; 
}